@import "style.css";

#close-menu-button {
  position: absolute;
  right: 0;
}

#open-menu-button {
  position: absolute;
  right: 0;
}


@media screen and (max-width: 850px) {
  .vertical-navbar {
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
    background-color: var(--background-vertical-nav);
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
  }

  .vertical-navbar.menu-toggle {
    transform: translateX(0);
  }

  .vertical-navbar a {
    display: block;
    background-color: var(--background-nav);
    color: var(--text-color-nav);
    padding: 12px;
    text-decoration: none;
    text-align: center;
    font-size: var(--font-size-mobile-nav)
  }

  .vertical-navbar a:hover {
    background-color: var(--background-hover-nav);
  }

  .vertical-navbar a.active {
    background-color: var(--background-active-nav);
    color: white;
  }
}