@import "menu.css";
@import "header.css";
@import "footer.css";
@import "images.css";
@import "frontpage.css";


:root {
    --background-nav: #F6F6F6;
    --background-vertical-nav: #F6F6F6;
    --text-color-nav: black;
    --background-header: #f8f5f3;
    --background-active-nav: #F6F6F6;
    --background-hover-nav: white;
    --text-color-active-hover: white;
    --text-color-active: red;
    --text-color-not-active-hover: white;
    --font-size-mobile-nav: 30px;
}


body {
    margin: 0;
    font-family: Figtree, sans-serif, Arial, Helvetica;
    font-size: 20px;
    background-color: white;

}

h1 {
    display: flex;
    justify-content: center;
}

.main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0 12% 0 12%;
}


ul {
    list-style-position: outside;
    padding-left: 0;
}

.center-position {
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 400px) {
    #image-logo {
        width: 35%;
        height: 25%
    }
}

@media screen and (min-width: 1000px) {
    .main {
        margin: 0 23% 0 23%;
    }
}

@media (min-width: 1300px) and (max-width: 3000px) {
    .main {
        margin: 0 30% 0 30%;
    }
}


figcaption {
    margin: 10px 0 10px 0;
    font-style: italic;
    font-size: 1em;
}

.key-sentence {
    display: flex;
    justify-content: center;
    font-style: italic;
}

.marketing-placeholder {
    margin: auto;
    width: 50%;
    height: 50%;
    background-color: black;

}