/* .container {
    position: relative;
    height: 100vh;
} */

.menu-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    cursor: pointer;
}

.vertical-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
}

.vertical-menu.open {
    transform: translateX(0);
}

.menu-bar {
    position: relative;

}

a {
    /* display: none; */
    /* position: absolute; */
    /* position : relative; */
    display: block;
    /* background-color: #f1f1f1; */
    background-color: red;
    /* min-width: 160px; */
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /* transform: translateX(0); */
    /* z-index: 1; */
}


/* .dropdown-content.open {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    transform: translateX(0);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
} */